/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* .animate-enter {
   opacity    : 0.01;
   transition : opacity .5s ease-in;
 }

 .animate-enter.animate-enter-active {
   opacity : 1;
 }

 .animate-leave {
   opacity    : 1;
   transition : opacity .5s ease-in;
 }

 .animate-leave.animate-leave-active {
   opacity : 0.01;
 }

 a {
   cursor : pointer;
   color  : blue;
 }*/